/* Insert your global CSS here. */
.proj-title {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 30px;
    color: #264653;
}
.dropdown-header {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto Slab'
    /* margin-right: 0px; */
}
.dropdown-frequency {
    margin-left: 10px;
    font-family: 'Roboto Slab'

    /* position:absolute;  */
    /* display: flex; */
    /* align-items: center;
    margin-left: 950px;  */
    /* margin-top: 100px;  */
}
.tooltip-freq, .tooltip-num-calls {
    position: absolute;
    opacity: 0;
    background-color:#EDEAEA;
    padding: 8px;
}
.overall-graph {
    /* margin-top: 100px;  */
}
.tooltip-call-duration {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    font-size: small;
    padding: 5px;
}


.freq, .call-duration {
    margin-left: auto;
    margin-right: auto;
    display: inline; 
    margin-top: 60px;
}
.legend-received-rect {
    position: block;
    margin-top: 20px;

}
/* .tooltip-freq {
    padding: 8px;
}    */
p.message-received {
    color: #E76F51;
    font-family: 'Roboto Slab';
    font-size: 11px;
    font-weight: 700;
    margin-bottom: -10px;
}
p.message-sent {
    color: #2A9D8F;
    font-family: 'Roboto Slab';
    font-size: 11px;
}
p.tooltip-date {
    color: black;
    font-family: 'Roboto Slab';
    font-size: 11px;
}

p.total-calls {
    color: #E76F51;
    font-family: 'Roboto Slab';
    font-size: 11px;
    font-weight: 700;
}
